[submodule "backend"]
	path = backend
	url = https://github.com/JacekKaczmarek10/fullstack-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/JacekKaczmarek10/fullstack-frontend.git
